n8n_json/Phyonext/001-MOD FLUXO PRINCIPAL.json
{
  "name": "001-MOD FLUXO PRINCIPAL",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variáveis Globais').item.json.url_evo }}/message/sendText/{{ $('Variáveis Globais').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variáveis Globais').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variáveis Globais').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5648,
        688
      ],
      "id": "8634ef01-9aad-4439-91ea-d48f6172ed4d",
      "name": "sendText1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis Globais').item.json.id_cliente }}",
        "messageData": "={{ $('Variáveis Globais').item.json.mensagem }}",
        "tail": true
      },
      "id": "63ad353a-93dd-4fd8-9f98-ba48cc59892f",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        368,
        64
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "amount": 8
      },
      "id": "866f927f-91d3-4860-9ac7-bf0073b532e2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        416
      ],
      "webhookId": "fed0829f-162b-4f42-88bb-06a8f89ee186"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variáveis Globais').item.json.id_cliente }}",
        "options": {}
      },
      "id": "71db6ac2-2d83-431a-9cc3-478dc1274467",
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1920,
        416
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f63b88-4a52-4421-aa95-db9114e521bc",
              "name": "listMsg",
              "value": "={{ $json.propertyName.join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eb5a471e-b4c2-4ea1-8b6c-6b20900a9bb0",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        384
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variáveis Globais').item.json.id_cliente }}"
      },
      "id": "70f12d57-6bb0-4ecf-8766-09f1e16d4a71",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2672,
        384
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "id": "2b38ab8c-2e37-4991-8183-2872eb021d60",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -336,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook').item.json.body.data.message.audioMessage }}",
              "type": "string"
            },
            {
              "id": "899dffaa-b41b-40d1-b5f8-1c16e3a260ac",
              "name": "base64",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7dc4d0ca-4b25-4bf3-9f70-508adf592e20",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        336
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "deff446d-b2af-4850-84e3-45fab8227df3",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        1312
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cb150ff4-6751-4ccf-946d-979defb6f501",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        1312
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "edc9a8a5-7569-48e4-b66a-6a918794b86f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ead847ea-debe-4c53-bc85-e658f6f79321",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.documentMessage.mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {}
      },
      "id": "85647772-87cd-4a1b-ac76-f79ddb9fb128",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1280,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c73c508-93c1-48f4-a6f2-ba8612e6c9ca",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        32,
        1312
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis Globais').item.json.id_cliente }}",
        "messageData": "={{ $json.audio }}",
        "tail": true
      },
      "id": "25f71cd5-e57d-46f6-ac5a-3046201282ad",
      "name": "Redis3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        368,
        336
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis Globais').item.json.id_cliente }}",
        "messageData": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}, {{ $json['imagem com legenda'] }}",
        "tail": true
      },
      "id": "777a9e9d-d26e-4274-8691-c68d7d86afc0",
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        1392
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis Globais').item.json.id_cliente }}",
        "messageData": "={{ $json['imagem sem legenda'] }}",
        "tail": true
      },
      "id": "6bc3c2b1-2efa-4682-89a6-ac9ed6136e6c",
      "name": "Redis5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        1216
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50cebc66-2dbc-4c7a-a09e-83ffb0f52991",
              "name": "mensagem",
              "value": "={{ $('Variáveis Globais').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "08fdd213-7db9-4c61-a825-55f561defe85",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21fd20d7-f940-4a66-91d5-5ea4c031bb50",
              "leftValue": "={{ $json.propertyName.last().replace(/\\\\n/g, ' ').replace(/\\s+/g, ' ').trim().toLowerCase() }}",
              "rightValue": "={{ (\n  $('uniao').item.json['mensagem texto'] ||\n  $('uniao').item.json['mensagem pdf'] ||\n  $('uniao').item.json['mensagem audio'] ||\n  $('uniao').item.json['mensagem imagem com legenda'] ||\n  $('uniao').item.json['mensagem imagem sem legenda'] ||\n  ''\n).replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim().toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a641ecad-411d-47ba-8901-dea622012c67",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        416
      ]
    },
    {
      "parameters": {},
      "id": "22792ae3-58f2-457e-b6a5-e88e40b1e878",
      "name": "No Operation, do nothing4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2384,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84b6e91c-5e7c-4604-8609-f8a0e6fa8b01",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": ".wav,. mp3, .mov, .mkv, .pdf, .jpeg, .jpg, .png, .webp",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) != null }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e5907c4-8b5b-4803-b269-3c1453efee15",
                    "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(pdf)/g) != null }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "220dfbb2-989f-466f-978c-8a5d76410ddb",
                    "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(wav|mp3|mov|mkv)/g) != null }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "id": "b20eaff0-c80e-42c2-869e-969d8331271f",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5216,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e66db0-00dc-481d-951c-1fde558e268e",
              "name": "text",
              "value": "={{ $('Execute Workflow').item.json.output.split('\\n').map(s => s.trim()).filter(s => s) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "d9cbad52-073b-465e-aef1-bb34fb9f29a2",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        384
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "id": "bb5cac1f-8670-44fd-8cd5-8d81979f3be8",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4480,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e4e3f6a6-f031-4487-953a-3b36d9d78432",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4752,
        384
      ]
    },
    {
      "parameters": {},
      "id": "7a764410-bb39-416b-bbdb-42c233d03e3c",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4960,
        208
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "6a3729a5-f204-4ee2-81c3-4b2e49ceeb17",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4992,
        656
      ],
      "webhookId": "f9d5b023-b94b-47ff-a4f8-0477e7fb7c9d"
    },
    {
      "parameters": {
        "content": "## Split mesages\n**Envia os msg fracionadas** \n\nPara teste colocar: 120363421970534004@g.us\nno remoteJid do send\nValue origin:\n{{ $('Variáveis Globais').item.json.remoteJid }}",
        "height": 780,
        "width": 1852,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4096,
        112
      ],
      "typeVersion": 1,
      "id": "c79d26a3-e5a0-4505-8065-c77c3154ec85",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f63b88-4a52-4421-aa95-db9114e521bc",
              "name": "mensagem audio",
              "value": "={{ $json.audio ?? '' }}",
              "type": "string"
            },
            {
              "id": "44f01ebc-8e8c-41bc-8ebf-bffde46950d7",
              "name": "mensagem pdf",
              "value": "={{ $json.text ?? '' }}",
              "type": "string"
            },
            {
              "id": "a35c4503-c4f5-4cbd-8319-d75e6ac11177",
              "name": "mensagem texto",
              "value": "={{ $json.mensagem ?? '' }}",
              "type": "string"
            },
            {
              "id": "ca002058-0588-40a1-94fa-657d9395fdc2",
              "name": "mensagem imagem sem legenda",
              "value": "={{ $json['imagem sem legenda'] ?? '' }}",
              "type": "string"
            },
            {
              "id": "c67f9c47-fd93-4208-b4d4-f97a0d96754b",
              "name": "mensagem imagem com legenda",
              "value": "={{ $json['imagem com legenda'] ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b11d1365-8d93-46df-968f-8c3a623862ed",
      "name": "uniao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "070a633d-9b09-4bff-93a5-ccd16692a132",
              "name": "audio",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        336
      ],
      "id": "9a019538-cb66-4012-aeeb-a002738065ed",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "070a633d-9b09-4bff-93a5-ccd16692a132",
              "name": "imagem sem legenda",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1216
      ],
      "id": "75835403-0a2b-44c4-8a9c-32cc306af302",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "070a633d-9b09-4bff-93a5-ccd16692a132",
              "name": "imagem com legenda",
              "value": "={{ $('Analyze image').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1392
      ],
      "id": "15e497f8-db9c-40df-a910-f1130748832f",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "content": "## IMAGENS",
        "height": 928,
        "width": 1540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        1184
      ],
      "typeVersion": 1,
      "id": "e667be26-1b8f-4f20-ad8d-4c37c322a705",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## ÁUDIO\n",
        "height": 816,
        "width": 1200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        288
      ],
      "typeVersion": 1,
      "id": "971f7522-1322-4f40-9e29-2c175602c47e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## TEXTO",
        "height": 240,
        "width": 1188,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -16
      ],
      "typeVersion": 1,
      "id": "d6e11f7f-6792-4fd9-b38c-829dad9ca254",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## FILTRA MEIO DE CONTATO\n",
        "height": 644,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1424,
        256
      ],
      "typeVersion": 1,
      "id": "50c94ac7-81e1-498e-83e6-c1fffdf0011e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## CONCATENA AS MENSAGENS PARA RESPONDER EM LOTES",
        "height": 772,
        "width": 1660,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        112
      ],
      "typeVersion": 1,
      "id": "d8a4f4cc-aa94-4d11-927c-4d1d21e003db",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Leia a imagem e extraia os dados mais importantes\n\nSe não existir responda: \"Imagem com qualidade baixa\"",
        "inputType": "base64",
        "options": {}
      },
      "id": "35828a87-e91a-422b-9cfd-8481c7768d6b",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -176,
        1520
      ],
      "credentials": {
        "openAiApi": {
          "id": "8adLJVgL8JEjtUyY",
          "name": "OpenAi - CSMAIS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variáveis Globais').item.json.url_send_prompt }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "listaMensagens",
              "value": "={{ $('Edit Fields1').item.json.listaMensagens }}"
            },
            {
              "name": "id_cliente",
              "value": "={{ $('Variáveis Globais').item.json.id_cliente }}"
            },
            {
              "name": "data_postgres",
              "value": "={{ $('Customer Auth').item.json.data_postgres }}"
            },
            {
              "name": "data_customer",
              "value": "={{ $('Customer Auth').item.json.data_customer }}"
            },
            {
              "name": "customer_phone_mobile",
              "value": "={{ $('Variáveis Globais').item.json.customer_phone_mobile }}"
            },
            {
              "name": "data_sheets",
              "value": "={{ $('Customer Auth').item.json.data_sheets }}"
            },
            {
              "name": "customer_phone_mobile",
              "value": "={{ $('Variáveis Globais').item.json.customer_phone_mobile }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        608
      ],
      "id": "e43c9bf5-880d-4c71-8cdc-bc5a79c41d96",
      "name": "Send Prompt",
      "credentials": {
        "httpBasicAuth": {
          "id": "RUDKe5umiYJhjR33",
          "name": "TOKEN PROMPT PHYONEXT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d88c137-383f-4307-b3cc-1f6a560ea67b",
              "name": "id_cliente",
              "value": "={{ (() => {   const sender = $('Set id_cliente - sender - remoteJid').item.json.id_cliente || \"\";   return sender.replace(/\\D/gim, ''); })() }}",
              "type": "string"
            },
            {
              "id": "7e2f520e-4952-425b-82ca-792cc46680d4",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "99fc9e05-8b0b-48b7-b92f-8b6e04bdce44",
              "name": "remoteJid",
              "value": "={{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "d9a91c89-440a-4139-8620-6aff57cba730",
              "name": "nome_do_lead",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "b001a03f-fdc6-4900-ab23-24e3a01f4a8a",
              "name": "instance_name",
              "value": "={{ $json.data_customer.instance_name }}",
              "type": "string"
            },
            {
              "id": "c4882cb1-95de-46a0-a9d3-355d6f2377bf",
              "name": "apikey",
              "value": "={{ $json.data_customer.apikey }}",
              "type": "string"
            },
            {
              "id": "84847c3d-0f7d-4b2b-a448-10d573cf34be",
              "name": "url_evo",
              "value": "={{ $json.data_customer.url_evo }}",
              "type": "string"
            },
            {
              "id": "9e1144bf-80b1-4219-aaff-6041074822f3",
              "name": "customer_phone_mobile",
              "value": "={{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}",
              "type": "number"
            },
            {
              "id": "bb66a63c-c893-43f2-96db-e7fd379cd338",
              "name": "ID_sub_workflow_customer",
              "value": "={{ $json.data_customer.ID_sub_workflow_customer }}",
              "type": "string"
            },
            {
              "id": "22b33cda-78a6-48bb-a469-5b4f344de475",
              "name": "data_customer",
              "value": "={{ $json.data_customer }}",
              "type": "object"
            },
            {
              "id": "014038a4-d707-40ea-89c3-b112940a6fc3",
              "name": "id_customer",
              "value": "={{ $('Customer Auth').item.json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d3902270-028e-458f-aa9e-68886dfd4e66",
      "name": "Variáveis Globais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Resolve o problema  do @lid utilizando \"senderPn\"\n**Dados importantes**",
        "height": 968,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5808,
        -48
      ],
      "typeVersion": 1,
      "id": "1f9a3083-0b65-4a93-aee8-dd65193e7535",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Verifica se tem um Humano atendendo ou não\n**Pausa atendimento por 5 minutos** ",
        "height": 824,
        "width": 1452,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4048,
        96
      ],
      "typeVersion": 1,
      "id": "f8136f76-dc36-4473-8fe4-070383ddaf9c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9662f9d4-4367-46ad-a830-d28abecd0b9e",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4688,
        1088
      ],
      "id": "a6f0a06d-73b5-4cfd-be00-fcea038806e7",
      "name": "Remove grupos"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phyonext-eg3kptzmi1bgqfyaovbu5myxwg2x1mtb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5744,
        672
      ],
      "id": "01c70aa8-70fe-48f6-a3b4-44e97151a929",
      "name": "Webhook",
      "webhookId": "cfa6436e-d082-493d-b869-51942e721bfc"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.name, cpi.phone_mobile, cpi.data_customer FROM customers_1phone_instance AS cpi \n  INNER JOIN customers AS c ON c.id = cpi.customers_id\n  WHERE cpi.phone_mobile = '{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}' AND c.active = TRUE AND cpi.active = TRUE\n  LIMIT 1\n  ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2128,
        576
      ],
      "id": "1177a598-2f9a-47f2-91bc-5977e35af6ff",
      "name": "Customer Auth",
      "credentials": {
        "postgres": {
          "id": "7rbYLvaIn7hqZ7PL",
          "name": "Postgres PHYO"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get postgre table customers\nphone_mobile: 5519992496598\ndata_customer: {\n  \"instance_name\": \"brunogoulart\",\n  \"apikey\": \"49263A4B7B92-426B-BCB9-2235F32366EB\",\n  \"url_evo\": \"https://apievo.phyonex.com\",\n  \"ID_sub_workflow_customer\": \"xeg6H7borHmP3uCt\",\n  \"ID_sub_workflow_discovery\": \"\"\n}",
        "height": 672,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        256
      ],
      "typeVersion": 1,
      "id": "1ccfac0e-c81c-44a5-9326-9964da0adb23",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97c9f6b1-29e0-429c-889f-8b970d550ec6",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "group_remoteJid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        1104
      ],
      "id": "3822518c-4554-4bec-aef4-3e2ed4d5cda6",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Tools DEV\n**COMANDOS:**\nInserir no Grupo onde tem a Instance \ndo fluxo do cliente:\nPega o remoteJid: group_remoteJid\n\nInserir no WhatsApp Cliente (Instance do Fluxo)\nAtiva na supabase: phyonext_flow_true\nDesativa na supabse: phyonext_flow_false\nDump Redis: redis_dump\n\nDesativa Webhook na Evolution\nAtenção só pode ser habilitado no \nManeger da Evolution:\nphyonext_flow_disable\n\n-----\n\nPega o remoteJid do grupo e envia:\n->ALERT GROUP PHYO :\n 120363422938454901@g.us - group alert Phyonext\n 120363420697337036@g.us - group DEV Phyonext\n\n---\n\n\n\n\n",
        "height": 704,
        "width": 5456,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7088,
        1056
      ],
      "typeVersion": 1,
      "id": "85b2ed9d-1dc6-4d5e-b298-a1babdc98ee9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE customers_1phone_instance\nSET active = TRUE\nWHERE phone_mobile = '{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}' AND active = FALSE ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2320,
        1136
      ],
      "id": "d0ec07fc-699a-4ef8-9a84-846fc549b5a8",
      "name": "Customer True",
      "credentials": {
        "postgres": {
          "id": "7rbYLvaIn7hqZ7PL",
          "name": "Postgres PHYO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3024,
        1088
      ],
      "id": "0f13ef5e-396e-4864-b415-a0fc27da21c9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apievo.phyonex.com/message/sendText/brunophyonext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "a5e0f8a2847d1ebe08362273eecc3760"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"120363422938454901@g.us\",\n    \"text\": \"GruporemoteJid {{ $('Webhook').item.json.body.data.key.remoteJid }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4064,
        1088
      ],
      "id": "21c59433-ba61-463a-8a5b-e467fa94d96e",
      "name": "Alert Group PHYO DEV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apievo.phyonex.com/message/sendText/brunophyonext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "a5e0f8a2847d1ebe08362273eecc3760"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"120363422938454901@g.us\",\n    \"text\": \"Fluxo Number: {{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }} ::: ATIVO :::\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2160,
        1136
      ],
      "id": "c421a007-5da9-4885-8489-c6f68b5c2184",
      "name": "Alert Group PHYO DEV2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE customers_1phone_instance\nSET active = FALSE\nWHERE phone_mobile = '{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}' AND active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2464,
        1328
      ],
      "id": "1c1dc6d1-0e51-476c-8c0b-937a01b90b89",
      "name": "Customer False",
      "credentials": {
        "postgres": {
          "id": "7rbYLvaIn7hqZ7PL",
          "name": "Postgres PHYO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apievo.phyonex.com/message/sendText/brunophyonext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "a5e0f8a2847d1ebe08362273eecc3760"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"120363422938454901@g.us\",\n    \"text\": \"Fluxo {{ $('Customer Auth').item.json.name }} - Instance: {{ $('Customer Auth').item.json.data_customer.instance_name }} - Number: {{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }} ::: DESATIVADO :::\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2160,
        1328
      ],
      "id": "6a12e8e5-6923-469a-978f-068212746dd4",
      "name": "Alert Group PHYO DEV3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1840,
        1328
      ],
      "id": "09b3e242-9a9f-4537-8ef5-43fa636d11b3",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.data_customer.url_evo }}/webhook/set/{{ $json.data_customer.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.data_customer.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"webhook\": {\n        \"enabled\": false,\n        \"url\": \"https://webhook.chatdevendas.online/webhook/principal_fluxo_geral\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2448,
        1536
      ],
      "id": "3f0b45ed-6ead-4360-9cee-8d2e6bebf8e3",
      "name": "Webhook Instance Disable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apievo.phyonex.com/message/sendText/brunophyonext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "a5e0f8a2847d1ebe08362273eecc3760"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"120363422938454901@g.us\",\n    \"text\": \"Webhook {{ $('Customer Auth').item.json.name }} - Instance: {{ $('Customer Auth').item.json.data_customer.instance_name }} DESATIVADO. Só pode ser ativado no manager da evolution\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2144,
        1536
      ],
      "id": "5363ff2a-954b-49b3-acb8-79795f93ea36",
      "name": "Alert Group PHYO DEV4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05138d4d-9474-446c-bc30-ec594df9293e",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": "phyonext_flow_false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84c39624-c4c0-4dd6-8ce6-7b53d7e8e7ee",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": "phyonext_flow_disable",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1808,
        544
      ],
      "id": "8f2edcc3-e527-4d2c-bec2-5fcc18fd659d",
      "name": "Disable Flow - Switch Commands"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9535bf9e-690e-4988-b9a9-8151c5140e07",
              "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "rightValue": "phyonext_flow_true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2400,
        560
      ],
      "id": "9dc06fb2-a916-4007-99fc-73eaa7b9e9ab",
      "name": "Active Flow"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5519992496598_inst_5519992496598_block_humano"
      },
      "id": "3afeed81-3330-4a8d-9c15-e97ee6f9bb72",
      "name": "Redis7",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4480,
        1456
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4688,
        1456
      ],
      "id": "dfdf240e-5445-492d-afdc-6df0f76542ba",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50483884-8b92-4508-90ec-bad772d56da5",
              "name": "remoteJid_key_redis_dump",
              "value": "={{ (() => {   const sender = $('Webhook').item.json.body.data.key.remoteJid || \"\";   return sender.replace(/\\D/gim, ''); })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3344,
        1216
      ],
      "id": "d32feb9d-6899-4199-8efb-5530dbfcd95d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apievo.phyonex.com/message/sendText/brunophyonext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=a5e0f8a2847d1ebe08362273eecc3760"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"120363422938454901@g.us\",\n    \"text\": \"Clean Redis {{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_inst_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_block_humano | {{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_inst_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_type_credit | {{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_msg_midia_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_block_humano\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3024,
        1440
      ],
      "id": "edc45351-44ed-4b53-b172-626113570ee1",
      "name": "Alert Instance"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_inst_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_block_humano",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3984,
        624
      ],
      "id": "77e4ea40-18f2-4dd6-9546-fc6fdd3b1f7c",
      "name": "Verificar chave1",
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3456,
        160
      ],
      "id": "9c472970-b4ab-4c96-9df7-28bdb03556c4",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5fb16e0d-bef9-4069-8287-ae3a6e749cf8",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2864,
        352
      ],
      "id": "abb19bd9-1013-4edb-bca5-2641557f314e",
      "name": "FromMe?1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_inst_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_block_humano",
        "value": "sim",
        "keyType": "string",
        "expire": true,
        "ttl": 259200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3136,
        160
      ],
      "id": "f19c6094-f56f-41bc-a9cb-f5656a0384a9",
      "name": "Set Block",
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8bef6e40-2d40-4cd3-b17f-eca8ee99ceef",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "60b39a47-594f-4e71-a144-69adb8a687e2",
              "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "rightValue": "redis_dump",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3696,
        624
      ],
      "id": "ff761198-33cc-4583-bfc8-f0ed6b157112",
      "name": "Is Block"
    },
    {
      "parameters": {
        "content": "## Prompt personalizado do cliente \"url_send_prompt\"\n**Determinado no BD supabase table: customer",
        "height": 784,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2976,
        112
      ],
      "typeVersion": 1,
      "id": "105a6ab7-b0aa-4053-8176-d814b32a784c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3843ad9-44e0-4227-a087-5192a700ef12",
              "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "rightValue": "redis_dump",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3696,
        352
      ],
      "id": "bd62e945-06cc-44e8-96a0-b0f45ef4e99d",
      "name": "redis_dump"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6cabf36d-2fff-4b75-967c-d4b51fa53a5a",
              "leftValue": "1",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bcefb18f-4dcc-43cd-b7ae-8fca3f7a5d71",
              "leftValue": "={{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}",
              "rightValue": "5519992496598",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9666d39f-db69-43b7-96dc-47c944af5c29",
              "leftValue": "={{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}",
              "rightValue": "={{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2848,
        624
      ],
      "id": "76f10134-bcdf-4a5c-a55d-3db5cdbf0418",
      "name": "TEST ACTIVE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wFjp4811TIxjrgNt",
          "mode": "list",
          "cachedResultName": "002-MOD BD DATA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "remoteJid": "={{ $('Variáveis Globais').item.json.remoteJid }}",
            "customer_phone_mobile": "={{ $('Variáveis Globais').item.json.customer_phone_mobile }}",
            "id_customer": "={{ $('Variáveis Globais').item.json.id_customer }}",
            "id_cliente": "={{ $('Variáveis Globais').item.json.id_cliente }}",
            "data_customer": "={{ $('Variáveis Globais').item.json.data_customer }}",
            "listMsg": "={{ $json.listMsg }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_cliente",
              "displayName": "id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "remoteJid",
              "displayName": "remoteJid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "listMsg",
              "displayName": "listMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "customer_phone_mobile",
              "displayName": "customer_phone_mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "data_customer",
              "displayName": "data_customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "id_customer",
              "displayName": "id_customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3120,
        384
      ],
      "id": "5ba850ef-d43f-4c9c-b5ef-779de7f274f8",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_inst_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_block_humano"
      },
      "id": "c69272c5-1029-48a9-a40a-9245bf2003c4",
      "name": "RedisDeleteBlockHumano",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3744,
        1440
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_inst_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_type_credit"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3536,
        1440
      ],
      "id": "1f4156a2-1c93-4174-9779-0ed18da944b2",
      "name": "RedisDeleteTypeCredit",
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set id_cliente - sender - remoteJid').item.json.remoteJid }}_msg_midia_{{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}_block_humano"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3328,
        1440
      ],
      "id": "93fb2ba9-1805-4f43-a178-50208162bb21",
      "name": "RedisDeleteHumanoMsgMidia",
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Variáveis Globais').item.json.remoteJid }}_msg_midia_{{ $('Variáveis Globais').item.json.customer_phone_mobile }}_block_humano",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3536,
        384
      ],
      "id": "f6fad8f9-1764-4a90-85eb-7cfd5a66329a",
      "name": "checkBlockHumanoMsgMidia",
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8bef6e40-2d40-4cd3-b17f-eca8ee99ceef",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3744,
        384
      ],
      "id": "e4a6f04d-66e9-4e73-a712-bc4e0bd5195b",
      "name": "isBlockMsgMidia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3648,
        592
      ],
      "id": "20de1f4f-ee2d-428a-8816-f5c3365edf5e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Block msg depois que já enviou o audio no fluxo 004-MOD SUPORTE ATENDENTE\n",
        "height": 784,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        112
      ],
      "typeVersion": 1,
      "id": "f1eecf81-2da5-4230-b7dd-4e7d68c87e34",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3984,
        224
      ],
      "id": "01e93b16-953b-4540-afc4-d4696b3dd343",
      "name": "Wait_1_segundos",
      "webhookId": "f318022e-0987-44f4-b00d-c30b24cb8784"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}",
                    "rightValue": "557996496709",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c3f8015a-0012-4f3a-ba1e-8318adac01c6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed78f09d-71a9-43d7-bd64-d0290ce3ee66",
                    "leftValue": "={{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}",
                    "rightValue": "554288330197",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -544,
        608
      ],
      "id": "0dc2da2a-b090-4a84-a542-cd23c69f241e",
      "name": "Switch2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "2a732684-5742-420a-8774-1e57451fa33b",
      "name": "VNPromotora",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -176,
        592
      ],
      "credentials": {
        "openAiApi": {
          "id": "9d3Q8lVCLvfIRQ9b",
          "name": "OpenAi - VN PROMOTORA"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "ca833251-6c5d-4919-9bbd-6b8a2e2ef7bc",
      "name": "RSFinanciamentos",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -176,
        752
      ],
      "credentials": {
        "openAiApi": {
          "id": "boJd26Jhu5bfo1oD",
          "name": "OpenAi - RSFINANCIAMENTOS"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "998284e1-8b21-4b8c-94dd-78655404b4f7",
      "name": "CSMAISCRED",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -176,
        928
      ],
      "credentials": {
        "openAiApi": {
          "id": "8adLJVgL8JEjtUyY",
          "name": "OpenAi - CSMAIS"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}",
                    "rightValue": "557996496709",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c3f8015a-0012-4f3a-ba1e-8318adac01c6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed78f09d-71a9-43d7-bd64-d0290ce3ee66",
                    "leftValue": "={{ $('Set id_cliente - sender - remoteJid').item.json.customer_phone_mobile }}",
                    "rightValue": "554288330197",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -480,
        1552
      ],
      "id": "083181c1-8162-4843-95d9-71b0676867c2",
      "name": "Switch3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab948f0a-5637-4609-b84b-b8df7d142f93",
              "name": "content",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1312
      ],
      "id": "ced8c094-d040-46db-bb48-dc9563a33a1a",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d0fdf07-4852-45be-9fe4-64e921a03d8d",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "=5514910044550@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2d4eb037-3d38-49a0-9455-a5cb5dac4a97",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "=5514991696764@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9d892dae-790b-4c53-9f3f-fed16175c48b",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "5519992496598@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5552,
        288
      ],
      "id": "272c2447-6f51-4e12-84e8-c89c540fc856",
      "name": "Filtra números"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67e19fc5-1508-4833-a689-55f49356c86d",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.senderPn }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4704,
        0
      ],
      "id": "efbbd437-df28-4ecd-a44f-ff8c5bc80640",
      "name": "Set remoteJid senderPN"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "805cb483-5e33-4ed1-a697-a46fb7cbc404",
              "leftValue": "={{ $json.body.data.key.senderPn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5104,
        16
      ],
      "id": "f212f9ad-a96e-4688-b933-2245cc8cb710",
      "name": "If senderPn"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8178b868-ade6-4f4f-8053-9f9c68ab8a21",
              "name": "remoteJid",
              "value": "={{ $json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "f1c7da1b-762d-4ced-9065-17433fbdba81",
              "name": "id_cliente",
              "value": "={{ $json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "5ebf403e-de54-4b5a-a496-c8925685bdfc",
              "name": "customer_phone_mobile",
              "value": "={{ (() => {   const sender = $('Webhook').item.json.body.sender || \"\";   return sender.replace(/\\D/gim, ''); })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4304,
        224
      ],
      "id": "63fb5d3d-0426-49a8-a0b1-8e0be5a69462",
      "name": "Set id_cliente - sender - remoteJid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "afd27fc1-8e5d-4833-a375-c9bffc75f626",
              "leftValue": "={{ $json.body.data.key.remoteJidAlt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6c42d225-8e05-4a7f-9944-2a8596857c7a",
              "leftValue": "={{ $json.body.data.key.remoteJidAlt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "28e80355-da1b-477f-9727-c66f10483c4e",
              "leftValue": "={{ $json.body.data.key.remoteJidAlt }}",
              "rightValue": "@lid",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5024,
        272
      ],
      "id": "c689823a-0e1b-477a-b879-2effffed3c1e",
      "name": "IfRemoteJidAlt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67e19fc5-1508-4833-a689-55f49356c86d",
              "name": "=remoteJid",
              "value": "={{ (() => {   const sender = $json.body.data.key.remoteJidAlt || \"\";   return sender.replace(/\\D/gim, ''); })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4704,
        192
      ],
      "id": "0d02bf75-15ad-4128-b957-ca28a39b0176",
      "name": "Set remoteJid Alt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5552,
        64
      ],
      "id": "70359e52-e663-4f61-af7b-a245fc7cb31e",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bfe9db8f-ceae-4c27-8406-4783fb92687b",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "@lid",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5040,
        528
      ],
      "id": "fde3a15b-7615-4556-b4ca-abcc3a826461",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67e19fc5-1508-4833-a689-55f49356c86d",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4704,
        400
      ],
      "id": "2d74caeb-37d5-4216-b942-18d6b16e43b9",
      "name": "Set remoteJid @LID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67e19fc5-1508-4833-a689-55f49356c86d",
              "name": "=remoteJid",
              "value": "={{ (() => {   const sender = $('Webhook').item.json.body.data.key.remoteJid || \"\";   return sender.replace(/\\D/gim, ''); })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4720,
        608
      ],
      "id": "db5e00ed-3784-41ba-9111-eef09310414d",
      "name": "Set remoteJid Legado"
    }
  ],
  "pinData": {},
  "connections": {
    "sendText1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "uniao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "uniao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "uniao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "uniao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "sendText1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uniao": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        []
      ]
    },
    "Variáveis Globais": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove grupos": {
      "main": [
        [
          {
            "node": "If senderPn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Remove grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Auth": {
      "main": [
        [
          {
            "node": "Disable Flow - Switch Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Alert Group PHYO DEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer True": {
      "main": [
        [
          {
            "node": "Alert Group PHYO DEV2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Group PHYO DEV": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Group PHYO DEV2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer False": {
      "main": [
        [
          {
            "node": "Alert Group PHYO DEV3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Group PHYO DEV3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Instance Disable": {
      "main": [
        [
          {
            "node": "Alert Group PHYO DEV4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Group PHYO DEV4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable Flow - Switch Commands": {
      "main": [
        [
          {
            "node": "Customer False",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Instance Disable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Variáveis Globais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active Flow": {
      "main": [
        [
          {
            "node": "Customer True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "RedisDeleteBlockHumano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Instance": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar chave1": {
      "main": [
        [
          {
            "node": "Is Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FromMe?1": {
      "main": [
        [
          {
            "node": "Set Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Active Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Block": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Block": {
      "main": [
        [
          {
            "node": "redis_dump",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEST ACTIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redis_dump": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST ACTIVE": {
      "main": [
        [
          {
            "node": "Active Flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FromMe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "checkBlockHumanoMsgMidia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RedisDeleteBlockHumano": {
      "main": [
        [
          {
            "node": "RedisDeleteTypeCredit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RedisDeleteTypeCredit": {
      "main": [
        [
          {
            "node": "RedisDeleteHumanoMsgMidia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RedisDeleteHumanoMsgMidia": {
      "main": [
        [
          {
            "node": "Alert Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkBlockHumanoMsgMidia": {
      "main": [
        [
          {
            "node": "isBlockMsgMidia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isBlockMsgMidia": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_1_segundos": {
      "main": [
        [
          {
            "node": "Verificar chave1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "VNPromotora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSFinanciamentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CSMAISCRED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VNPromotora": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSFinanciamentos": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSMAISCRED": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set remoteJid senderPN": {
      "main": [
        [
          {
            "node": "Set id_cliente - sender - remoteJid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If senderPn": {
      "main": [
        [
          {
            "node": "Set remoteJid senderPN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfRemoteJidAlt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfRemoteJidAlt": {
      "main": [
        [
          {
            "node": "Set remoteJid Alt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set remoteJid Alt": {
      "main": [
        [
          {
            "node": "Set id_cliente - sender - remoteJid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set id_cliente - sender - remoteJid": {
      "main": [
        [
          {
            "node": "Wait_1_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Set remoteJid @LID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set remoteJid Legado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set remoteJid @LID": {
      "main": [
        [
          {
            "node": "Set id_cliente - sender - remoteJid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set remoteJid Legado": {
      "main": [
        [
          {
            "node": "Set id_cliente - sender - remoteJid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac8bcf0d-ffc5-4cfa-b49f-040d90a50ba4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "597adaec4688578e9a5a915f3460fb4449a7b5d29fb99ae1145ffd17ea295eb1"
  },
  "id": "Fy6vOFsmVRMO6mFE",
  "tags": [
    {
      "updatedAt": "2025-09-03T00:02:56.511Z",
      "createdAt": "2025-09-03T00:02:56.511Z",
      "id": "FPtFFxyG40J4hnx6",
      "name": "PRODUÇÃO"
    }
  ]
}