n8n_json/Phyonext/007-MOD TAG CHATWOOT CONTACT MESSAGE.json
{
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('VarGlobal').item.json.data_customer.chatwoot_url }}{{ $('VarGlobal').item.json.data_customer.chatwoot_endpoint }}/contacts/search?q={{ $('VarGlobal').item.json.remoteJid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('VarGlobal').item.json.data_customer.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        16
      ],
      "id": "351adbbf-6813-4a8d-8935-9bbb0972e2f0",
      "name": "TagGet_contact_id"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id_cliente"
            },
            {
              "name": "remoteJid"
            },
            {
              "name": "customer_phone_mobile",
              "type": "number"
            },
            {
              "name": "id_customer",
              "type": "number"
            },
            {
              "name": "data_customer",
              "type": "object"
            },
            {
              "name": "json_content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1072,
        16
      ],
      "id": "04cef561-b9bb-48f1-9c14-b1dedd424ec5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f71b1272-bf0f-40f1-8943-dc9987a589a1",
              "name": "id_cliente",
              "value": "={{ $('When Executed by Another Workflow').item.json.id_cliente }}",
              "type": "string"
            },
            {
              "id": "50a7eb8c-3732-4c3d-86a3-a4dd933b77c6",
              "name": "remoteJid",
              "value": "={{ $json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "05d3f247-13df-4044-a9a2-bf52af4e1108",
              "name": "customer_phone_mobile",
              "value": "={{ $('When Executed by Another Workflow').item.json.customer_phone_mobile }}",
              "type": "number"
            },
            {
              "id": "892e06f1-9dc8-4c04-860c-30c9c3a444c9",
              "name": "id_customer",
              "value": "={{ $('When Executed by Another Workflow').item.json.id_customer }}",
              "type": "number"
            },
            {
              "id": "8ed5f078-51fc-4b32-bfc7-8377817accf2",
              "name": "data_customer",
              "value": "={{ $('When Executed by Another Workflow').item.json.data_customer }}",
              "type": "object"
            },
            {
              "id": "0cf56cf0-fe06-4cf6-b8cd-33e3fc6444c3",
              "name": "json_content",
              "value": "={{ $json.json_content }}",
              "type": "string"
            },
            {
              "id": "4fb0499c-1849-41b8-8888-7722271ee2c6",
              "name": "data_customer.chatwoot_url",
              "value": "={{ $json.data_customer.chatwoot_url }}",
              "type": "string"
            },
            {
              "id": "5286aafe-50a2-407d-9b77-8f7015ea7249",
              "name": "data_customer.chatwoot_endpoint",
              "value": "={{ $json.data_customer.chatwoot_endpoint }}",
              "type": "string"
            },
            {
              "id": "098e16c0-3805-4899-b224-771d12950784",
              "name": "data_customer.chatwoot_token",
              "value": "={{ $json.data_customer.chatwoot_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        16
      ],
      "id": "f228f179-7133-4d22-8c8b-17abb7055fc3",
      "name": "VarGlobal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91237333-89aa-41b3-aa4a-271030e8fe96",
              "leftValue": "={{ $json.payload[0].id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "2843c082-d9cd-4815-b1ad-57234b3105c9",
              "leftValue": "={{ $json.payload[0].id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        16
      ],
      "id": "03c5eb58-ac01-46d1-b209-745d38ab0ca4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('VarGlobal').item.json.remoteJid }}_id_customer_{{ $('VarGlobal').item.json.id_customer }}",
        "value": "={{ $json.payload[0].id }}",
        "keyType": "string",
        "expire": true,
        "ttl": 259200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "306c5b56-7a60-42e1-853c-2d77b399ed95",
      "name": "SetContact_ID_Chatwoot",
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79426ada-b56e-429c-b8ad-06483695d190",
              "name": "contact_id",
              "value": "={{ $('TagGet_contact_id').item.json.payload[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        0
      ],
      "id": "e778fb5b-8e60-413b-b715-1e71e9d2754a",
      "name": "Contact_ID"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "contact_id",
        "key": "={{ $('VarGlobal').item.json.remoteJid }}_id_customer_{{ $('VarGlobal').item.json.id_customer }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "3d092ef8-fb92-4d71-9f16-3d16661c5d1e",
      "name": "Verificar chave1",
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90193aef-9b32-4159-ac1b-a8d3efd06cb5",
              "leftValue": "={{ $json.contact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3932b4ea-e8ec-4464-b992-c22fa53847be",
              "leftValue": "={{ $json.contact_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        0
      ],
      "id": "bfed014e-c496-47e6-b25f-105e82212490",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79426ada-b56e-429c-b8ad-06483695d190",
              "name": "contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -320
      ],
      "id": "4278c98a-9c0b-49a0-9132-e17f243fc064",
      "name": "Contact_ID1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88728dbb-0be0-4241-b8bf-e265bb3ae012",
              "name": "contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -320
      ],
      "id": "7f1fb893-ffc8-4d02-9f8b-5266536cea49",
      "name": "Contact_ID_Adjust"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5519992496598_id_customer_100"
      },
      "id": "d8863b60-d74d-402c-8625-14bdf203e767",
      "name": "RedisDeleteBlockHumano",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -480,
        512
      ],
      "credentials": {
        "redis": {
          "id": "zJTlOiAtaJNhA6Uh",
          "name": "Redis_n8n_local"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://chat.phyonext.com/api/v1/accounts/2/contacts/search?q=5519992496598",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "YOUR_API_CHATWOOT_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        512
      ],
      "id": "cbc7afe5-e155-4354-a352-abed1bf224e6",
      "name": "TagGet_contact_id1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.phyonext.com/api/v1/accounts/2/contacts/6/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "YOUR_API_CHATWOOT_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"solicitou_suporte\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        512
      ],
      "id": "d3bfa6f7-6386-4029-b528-f73ce512f61d",
      "name": "TagPost1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b8406c45-9bbb-4780-bd69-965d7bd98c56",
              "leftValue": "={{ $json.data_customer.chatwoot_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1b471bbb-9580-4043-aaca-388579991d1b",
              "leftValue": "={{ $json.data_customer.chatwoot_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d1470eb6-a44a-4372-a5d8-34c23eb7da1d",
              "leftValue": "={{ $json.data_customer.chatwoot_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ece3405d-f704-4335-92f4-28ae4d08c395",
              "leftValue": "={{ $json.data_customer.chatwoot_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ebaba01b-01c8-4ac7-971a-c69a914b76f9",
              "leftValue": "={{ $json.data_customer.chatwoot_endpoint }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b7819595-091d-4425-8a00-dfa9e2ad66e5",
              "leftValue": "={{ $json.data_customer.chatwoot_endpoint }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        16
      ],
      "id": "2a24c4c7-c9b1-4800-ae3c-bfcb40269b22",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        -80
      ],
      "id": "9213ffad-de04-4009-8f9a-206a77bba781",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -640,
        288
      ],
      "id": "40700a6e-45f7-4a6e-a110-f2236d478087",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa63f5c1-ebb3-47dc-9827-6ca29364f129",
              "leftValue": "={{ $json.payload[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1e2da281-8374-4981-aeb0-cb6a54e10da1",
              "leftValue": "={{ $json.payload[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -320
      ],
      "id": "10b875a8-6503-4651-ac27-d32a0a8f5e8a",
      "name": "If3"
    },
    {
      "parameters": {
        "url": "={{ $('VarGlobal').item.json.data_customer.chatwoot_url }}{{ $('VarGlobal').item.json.data_customer.chatwoot_endpoint }}/conversations?contact_id={{ $('Contact_ID_Adjust').item.json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('VarGlobal').item.json.data_customer.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        -336
      ],
      "id": "1a1ef0e2-45f4-45a8-b525-4d24980903bd",
      "name": "TagGet_conversation_id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2eec0705-adcf-4f06-b8c7-1a6f327e7f50",
              "leftValue": "={{ $json.data.payload[0].id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "69b8f298-8123-47e5-859a-6276590606fd",
              "leftValue": "={{ $json.data.payload[0].id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        -336
      ],
      "id": "0a788c15-0b1d-436b-9cb7-16af45b9298b",
      "name": "If4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('VarGlobal').item.json.data_customer.chatwoot_url }}{{ $('VarGlobal').item.json.data_customer.chatwoot_endpoint }}/contacts/{{ $json.contact_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('VarGlobal').item.json.data_customer.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('VarGlobal').item.json.json_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        -320
      ],
      "id": "106e26fb-93f1-41da-8c02-d7a65c60b036",
      "name": "Insert_Tag_Contact_Post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('VarGlobal').item.json.data_customer.chatwoot_url }}{{ $('VarGlobal').item.json.data_customer.chatwoot_endpoint }}/conversations/{{ $json.conversation_id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('VarGlobal').item.json.data_customer.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('VarGlobal').item.json.json_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        -352
      ],
      "id": "8a71688c-5754-4c3b-a692-51f1728f608d",
      "name": "Insert_Tag_Conversation_Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22998424-f3fb-4baf-a9ea-fe9906c6f68f",
              "name": "conversation_id",
              "value": "={{ $('TagGet_conversation_id').item.json.data.payload[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -352
      ],
      "id": "46f6f0dc-803d-4320-8ce9-37cde17ee795",
      "name": "Conversation_id"
    }
  ],
  "connections": {
    "TagGet_contact_id": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "VarGlobal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VarGlobal": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SetContact_ID_Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetContact_ID_Chatwoot": {
      "main": [
        [
          {
            "node": "Contact_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact_ID": {
      "main": [
        [
          {
            "node": "Contact_ID_Adjust",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar chave1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Contact_ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TagGet_contact_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact_ID1": {
      "main": [
        [
          {
            "node": "Contact_ID_Adjust",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact_ID_Adjust": {
      "main": [
        [
          {
            "node": "Insert_Tag_Contact_Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Verificar chave1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "TagGet_conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TagGet_conversation_id": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert_Tag_Contact_Post": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert_Tag_Conversation_Post": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation_id": {
      "main": [
        [
          {
            "node": "Insert_Tag_Conversation_Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "597adaec4688578e9a5a915f3460fb4449a7b5d29fb99ae1145ffd17ea295eb1"
  }
}